.addon-traveler {
  background-image: url(../img/icon.png) !important;
}

.walkBtn {
	background-image: url(../img/walk-btn.png);
	width: 24px !important;
	height: 24px !important;
}

.carBtn {
	background-image: url(../img/car-btn.png);
	height: 24px !important;
	width: 24px !important;
}


.walkStyle .x-btn-mr, .walkStyle .x-btn-ml, .walkStyle .x-btn-tr, .walkStyle .x-btn-tl, .walkStyle .x-btn-bc, .walkStyle .x-btn-tc,.walkStyle .x-btn-bl,.walkStyle .x-btn-br,
.carStyle .x-btn-mr, .carStyle .x-btn-ml, .carStyle .x-btn-tr, .carStyle .x-btn-tl, .carStyle .x-btn-bc, .carStyle .x-btn-tc,.carStyle .x-btn-bl,.carStyle .x-btn-br,
.actionBtn .x-btn-mr, .actionBtn .x-btn-ml, .actionBtn .x-btn-tr, .actionBtn .x-btn-tl, .actionBtn .x-btn-bc, .actionBtn .x-btn-tc,.actionBtn .x-btn-bl,.actionBtn .x-btn-br{
	border:none;
}

.carStyle, .walkStyle {
	padding-top: 3px;
	background-color: white;
}


.car-over {
	background-image: url(../img/car-hover-bis.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

.car-pressed {
	background-image: url(../img/car-selected.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

.walk-over {
	background-image: url(../img/walk-hover-bis.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

.walk-pressed {
	background-image: url(../img/walk-selected.png);	
	height: 24px !important;
	width: 24px !important;
	background-color: white !important ;
}

#carBtn:hover, #walkBtn:hover, #carBtn:active, .actionBtn:hover, .actionBtn:hover, .actionBtn:hover .x-btn-text,
#walkBtn:active, .carStyle .x-btn-pressed {
	background-color: rgba(255,255,255,0) !important;
}


.carStyle .x-btn-pressed{
	background-color: white !important;
}


.refresh{
	background-image: url(../img/16px/reset-blue.png);
	height: 16px !important;
	width: 16px !important;		
}

.calcul{
	background-image: url(../img/16px/flag-blue.png);
	height: 16px !important;
	width: 16px !important;		
}

.fieldBtn .x-btn-noicon,.fieldBtn .x-btn-small,.fieldBtn .x-btn-text {
	background-image: url(../img/16px/flag-blue.png);	
	height:14px !important;
}

.gpsIcon {
	background-image: url(../img/16px/gps-blue.png);
	background-repeat:no-repeat;
	margin-left:-38px !important;	
}

.addIcon {
	background-image: url(../img/16px/add-white.png);
	background-repeat:no-repeat;
	margin-left:-10px !important;	
}

.addHover{
	background-image: url(../img/16px/add-pressed.png);
	background-repeat:no-repeat;
	margin-left:-10px !important;	
}

.rmIcon {
	background-image: url(../img/16px/clear-pressed.png);
	background-repeat:no-repeat;
	margin-left:-10px !important;		
}

.rmHover{
	background-image: url(../img/16px/clear-blue.png);
	background-repeat:no-repeat;
	margin-left:-10px !important;	
}

.fBan {
	font: normal 10px 'latoregular',tahoma, arial, helvetica, sans-serif;
}

.fsOptions .x-fieldset-header-text {
	font-size:12px;
}

.fsOptions {
	margin-right:auto;
	margin-left:20%;;
}

.fsOptions .x-tool {
	background-image: url(../img/tools-sprites-trans.gif);
}

.fsOptions .x-tool-toggle-over {
	background-image: url(../img/tool-sprites.png);
} 

.cpMode {
	width:76px;
	margin-left:auto;
	margin-right:auto;
}

.fsStep{
	margin-right:auto;
	margin-left:20%;
}
